/.mypy_cache
/.pytest_cache
/.vscode
/__pycache__
/tests/__pycache__/
/utahchess/__pycache__/
/gui/__pycache__/
/gui/pygame/__pycache__/
/analyses/alpha_beta_performance_increase/board_strings
/analyses/alpha_beta_performance_increase/__pycache__
/utahchess/cython_extension/*
*.cfg
/env*
*egg-info